
/*
========================================================================================
  Exome SAMtools Nextflow config file
========================================================================================
  Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
  meta = ''
  bam = ''
  fasta = ''

  outdir = './results'
  tracedir = "${params.outdir}/pipeline_info"
  help = false
  publish_dir_mode = 'copy' // Default PublishDirMode (same as other nf-core pipelines)

  // Defaults only, expecting to be overwritten
  max_memory                 = '128.GB'
  max_cpus                   = 16
  max_time                   = '240.h'
}

profiles {
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker {
    docker.enabled = true
    docker.fixOwnership = true
  }
  singularity {
    singularity.autoMounts = true
    singularity.enabled = true
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}

manifest {
    name = 'Exome SAMtools Workflow'
    author = 'Laura Rodriguez-Navas'
    homePage = 'https://github.com/inab/ipc_workflows/tree/main/exome/samtools'
    defaultBranch = 'main'
    mainScript = 'main.nf'
    nextflowVersion = '>=19.10.0'
    version = 1.0
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
