manifest {
	name = 'COSIFER - COnSensus Interaction Network InFErence Workflow'
	homePage = 'https://github.com/inab/ipc_workflows/tree/main/cosifer'
	defaultBranch = 'master'
	mainScript = 'nextflow.nf'
}

params {
  general = [
    data_matrix: "${baseDir}/test/data_matrix.tsv",
    outputsDir: "${baseDir}/test/results/"
  ]
}

process.container = "tsenit/cosifer:latest"
docker.enabled = true
