manifest {
	name = 'COSIFER - COnSensus Interaction Network InFErence Workflow'
	homePage = 'https://github.com/inab/ipc_workflows/tree/main/cosifer'
	defaultBranch = 'master'
	mainScript = 'nextflow.nf'
	nextflowVersion = '>=19.10.0'
}

params {
    data_matrix = "${baseDir}/test/data_matrix.tsv"
    outputsDir = "${baseDir}/test/results/"
    index_col = ""
    hallmark_gene_sets_file = ""
    sep = "\t"
}

process.container = "tsenit/cosifer:b4d5af45d2fc54b6bff2a9153a8e9054e560302e"
docker.enabled = true
